{% if slider_items is not empty %}
<div class="slider">
    <div class="slider-wrapper">
        {% for item in slider_items %}
            <div class="slider-item">
                <img src="{{ item.image }}" alt="{{ item.alt_text }}" class="slider-image">
                <div class="slider-caption">
                    <h2 class="slider-title">{{ item.title }}</h2>
                    <p class="slider-description">{{ item.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="no-slider">
    <p>No slider items available.</p>
</div>
{% endif %}